@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Chat application</h1>
    <div style="margin:50px auto; width: 30%;">
        <input id="userNameInput" type="text" class="form-control" placeholder="Enter your name..." />
        <button onclick="connect()" id="connectButton" class="btn btn-primary" style="width:100%; margin-top: 10px;">Join chat</button>
    </div>
</div>
<script src="./js/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="./js/connection.js"></script>
